# Visual Studio temporary files, build results, and
# user-specific files

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/
.vscode/
TestResults/
_ReSharper*/

bin/
obj/
Debug/
Release/
x64/
x86/

.idea/
*.ncrunch*
.*crunch*.local.xml

*.nupkg
*.snupkg
packages/

*.code-workspace
*.log
.DS_Store
Thumbs.db

project.lock.json
project.fragment.lock.json
artifacts/

.history/

